form {
    border: 7px solid black;
}

.navbar {
    display: flex;
    background-color: rgb(0, 145, 255);
    height: 75px;
    align-items: center;
    font-size: x-large;
    color: aliceblue;
    padding-left: 30px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 100px 40px 100px;

}

.card {
    margin: 50px 13px 20px 13px;
    padding: 2px 0px 10px 10px;
    line-height: 12px;
    width: 220px;
    height: 120px;
    background-color: rgba(70, 229, 229, 0.529);
    box-shadow: 0px 5px 0px 0px rgba(10, 0, 4, 0.168);
    font-size: 14px;
    border-radius: 8px;
}